-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: placement_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applied_at` datetime(6) DEFAULT NULL,
  `status` enum('PENDING','SELECTED','REJECTED') NOT NULL,
  `notification_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  `offer_letter_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK22wvktybjr63ypudfcayq53o2` (`notification_id`),
  KEY `FKam71qdmei4tyhyf881aat712w` (`student_id`),
  CONSTRAINT `FK22wvktybjr63ypudfcayq53o2` FOREIGN KEY (`notification_id`) REFERENCES `notifications` (`id`),
  CONSTRAINT `FKam71qdmei4tyhyf881aat712w` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_starred_by_student_ids`
--

DROP TABLE IF EXISTS `notification_starred_by_student_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_starred_by_student_ids` (
  `notification_id` bigint NOT NULL,
  `starred_by_student_ids` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  KEY `FKrll0yeeggtx580rbea8uuxmrj` (`notification_id`),
  CONSTRAINT `FKrll0yeeggtx580rbea8uuxmrj` FOREIGN KEY (`notification_id`) REFERENCES `notifications` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_starred_by_student_ids`
--

LOCK TABLES `notification_starred_by_student_ids` WRITE;
/*!40000 ALTER TABLE `notification_starred_by_student_ids` DISABLE KEYS */;
INSERT INTO `notification_starred_by_student_ids` VALUES (3,3,NULL),(4,4,NULL),(6,8,NULL);
/*!40000 ALTER TABLE `notification_starred_by_student_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_target_student_ids`
--

DROP TABLE IF EXISTS `notification_target_student_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_target_student_ids` (
  `notification_id` bigint NOT NULL,
  `target_student_ids` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  KEY `FKbdenif3ovw7030ftg2y7e6n5l` (`notification_id`),
  CONSTRAINT `FKbdenif3ovw7030ftg2y7e6n5l` FOREIGN KEY (`notification_id`) REFERENCES `notifications` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_target_student_ids`
--

LOCK TABLES `notification_target_student_ids` WRITE;
/*!40000 ALTER TABLE `notification_target_student_ids` DISABLE KEYS */;
INSERT INTO `notification_target_student_ids` VALUES (9,4,NULL);
/*!40000 ALTER TABLE `notification_target_student_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `attachment_path` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `drive_date` datetime(6) DEFAULT NULL,
  `eligibility_type` enum('HIGHER_STUDIES','PLACEMENT','BOTH') DEFAULT NULL,
  `min_cpi` double DEFAULT NULL,
  `mode` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `min10th_percent` double DEFAULT NULL,
  `min12th_percent` double DEFAULT NULL,
  `student_role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verification`
--

DROP TABLE IF EXISTS `otp_verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_verification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `expiry_time` datetime(6) NOT NULL,
  `otp` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verification`
--

LOCK TABLES `otp_verification` WRITE;
/*!40000 ALTER TABLE `otp_verification` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_verification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `placement_summary`
--

DROP TABLE IF EXISTS `placement_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `placement_summary` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) DEFAULT NULL,
  `final_ctc` double DEFAULT NULL,
  `selection_date` date DEFAULT NULL,
  `student_email` varchar(255) DEFAULT NULL,
  `student_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `placement_summary`
--

LOCK TABLES `placement_summary` WRITE;
/*!40000 ALTER TABLE `placement_summary` DISABLE KEYS */;
INSERT INTO `placement_summary` VALUES (1,'Master Card',10,'2026-01-26','23ituos109@ddu.ac.in','Hetvee Rabara'),(2,'Master Card',10,'2026-01-26','23ituos151@ddu.ac.in','Nidhi Pandya'),(3,'Company 1',8,'2026-01-27','23ituoz029@ddu.ac.in','Drashti Tandel'),(4,'Master Card',10,'2026-01-27','23ituos019@ddu.ac.in','Pinal Chothani'),(5,'Master Card',10,'2026-01-27','23ituoz068@ddu.ac.in','Maitree Jivani');
/*!40000 ALTER TABLE `placement_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `placements`
--

DROP TABLE IF EXISTS `placements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `placements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `final_ctc` double NOT NULL,
  `selection_date` datetime(6) DEFAULT NULL,
  `notification_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcsyaublbr6kkmmehnmimay9vg` (`student_id`,`notification_id`),
  KEY `FK845l7gen3bjtseh07dfig2aan` (`notification_id`),
  CONSTRAINT `FK58ogawlbbxypfx7aylo8jsxxx` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK845l7gen3bjtseh07dfig2aan` FOREIGN KEY (`notification_id`) REFERENCES `notifications` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `placements`
--

LOCK TABLES `placements` WRITE;
/*!40000 ALTER TABLE `placements` DISABLE KEYS */;
INSERT INTO `placements` VALUES (13,9,'2026-02-19 19:02:21.567539',3,3),(14,9,'2026-02-19 19:02:21.639651',3,5),(15,9,'2026-02-19 19:02:21.683673',3,9),(16,9,'2026-02-19 19:02:21.724622',3,11),(17,7,'2026-02-14 00:22:37.165239',8,14),(19,2,'2026-02-19 19:27:50.582465',10,4),(20,20,'2026-02-19 19:34:38.440837',9,4),(21,15,'2026-02-19 19:28:41.423884',4,4),(22,3,'2026-02-19 23:44:27.591915',8,12);
/*!40000 ALTER TABLE `placements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_profiles`
--

DROP TABLE IF EXISTS `student_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_profiles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `career_preference` enum('HIGHER_STUDIES','PLACEMENT','BOTH') DEFAULT NULL,
  `resume_path` varchar(255) DEFAULT NULL,
  `tenth_percentage` double DEFAULT NULL,
  `twelfth_percentage` double DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_hlcwb2egnj8mj3e0mouse1lgy` (`user_id`),
  CONSTRAINT `FK32koy3tgqtaujxhfsn0b9pel2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_profiles`
--

LOCK TABLES `student_profiles` WRITE;
/*!40000 ALTER TABLE `student_profiles` DISABLE KEYS */;
INSERT INTO `student_profiles` VALUES (2,'PLACEMENT','3_resume.pdf',94.14,78.89,3),(3,'PLACEMENT','4_resume.pdf',80,90,4),(4,'PLACEMENT',NULL,NULL,NULL,5),(5,'PLACEMENT','7_resume.pdf',93,75,7),(7,'PLACEMENT','9_resume.pdf',95,80,9),(8,'HIGHER_STUDIES','10_resume.pdf',87,78,10),(9,'PLACEMENT','11_resume.pdf',87,70,11),(10,'PLACEMENT','12_resume.pdf',80,80,12),(12,'PLACEMENT','14_resume.pdf',65,90,14);
/*!40000 ALTER TABLE `student_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_skills`
--

DROP TABLE IF EXISTS `student_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_skills` (
  `profile_id` bigint NOT NULL,
  `skill` varchar(255) DEFAULT NULL,
  `student_id` bigint NOT NULL,
  KEY `FKks1qg9ux4xxvwiypttut3dumm` (`profile_id`),
  CONSTRAINT `FKks1qg9ux4xxvwiypttut3dumm` FOREIGN KEY (`profile_id`) REFERENCES `student_profiles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_skills`
--

LOCK TABLES `student_skills` WRITE;
/*!40000 ALTER TABLE `student_skills` DISABLE KEYS */;
INSERT INTO `student_skills` VALUES (2,'C++',0),(2,'Java',0),(2,'Web development',0),(2,'DSA',0),(5,'Java',0),(5,'React',0),(7,'Android Development',0),(8,'Java',0),(9,'Java',0),(10,'Java',0),(12,'python',0),(3,'React',0);
/*!40000 ALTER TABLE `student_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tpo_feedbacks`
--

DROP TABLE IF EXISTS `tpo_feedbacks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tpo_feedbacks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `comment` text,
  `created_at` datetime(6) DEFAULT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tpo_feedbacks`
--

LOCK TABLES `tpo_feedbacks` WRITE;
/*!40000 ALTER TABLE `tpo_feedbacks` DISABLE KEYS */;
INSERT INTO `tpo_feedbacks` VALUES (2,'hello','2026-01-27 15:58:47.198206',11);
/*!40000 ALTER TABLE `tpo_feedbacks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cpi` double DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-26 18:52:51
